@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  width: 100%;
  font-weight: normal;
  min-height: 100vh;
  font-family: 'Montserrat'
}

input, textarea {
  @apply bg-snow border-b-[1px] border-b-lighter-primary py-[10px] outline-none box-border transition-all duration-100 text-[18px] text-primary;
}

input::placeholder, textarea::placeholder {
  @apply text-[16px] text-primary;
}

input:hover, textarea:hover {
  @apply border-primary;
}

input:focus-visible, textarea:focus-visible {
  @apply border-b-primary;
}

@media screen and (max-width: 576px) {
    input, textarea, input::placeholder, textarea::placeholder {
    @apply text-[12px];
  }
}

@keyframes showUpFromBottom {
  0% {
    @apply -bottom-[72px] opacity-0;
  }
  100% {
    @apply bottom-0 opacity-100;
  }
}

.show-up-from-bottom {
  animation-name: showUpFromBottom;
  animation-duration: .5s;
}

@keyframes showUpFromTop {
  0% {
    @apply -top-[72px] opacity-0;
  }
  100% {
    @apply top-0 opacity-100;
  }
}

.show-up-from-top {
  animation-name: showUpFromTop;
  animation-duration: .5s;
}

@keyframes showUpFromTopThenDisappear {
  0% {
    @apply top-0 opacity-0;
  }
  50% {
    @apply top-[50px] opacity-100;
  }
  100% {
    @apply top-0 opacity-0;
  }
}

.show-up-from-top-then-disappear {
  animation-name: showUpFromTopThenDisappear;
  animation-duration: .5s;
}

@keyframes showUpFromLeft {
  0% {
    @apply -left-[72px] opacity-0;
  }
  100% {
    @apply left-0 opacity-100;
  }
}

.show-up-from-left {
  animation-name: showUpFromLeft;
  animation-duration: .5s;
}

@keyframes showUpFromRight {
  0% {
    @apply -right-[72px] opacity-0;
  }
  100% {
    @apply right-0 opacity-100;
  }
}

.show-up-from-right {
  animation-name: showUpFromRight;
  animation-duration: .5s;
}


@keyframes bouncing {
  0% {
    @apply bottom-0;
  }
  50% {
    @apply bottom-[10px];
  }
  100% {
    @apply bottom-0;
  }
}

.bouncing {
  animation-name: bouncing;
  animation-duration: .5s;
  animation-delay: .5s;
}
.bouncing-2 {
  animation-name: bouncing;
  animation-duration: .5s;
  animation-delay: 1s;
}
.bouncing-3 {
  animation-name: bouncing;
  animation-duration: .5s;
  animation-delay: 1.5s;
}
.bouncing-4 {
  animation-name: bouncing;
  animation-duration: .5s;
  animation-delay: 2s;
}

@keyframes fadeIn {
  0% {
    @apply opacity-0;
  }
  100% {
    @apply opacity-100;
  }
}
.fade-in {
  animation-name: fadeIn;
  animation-duration: .5s;
}

@keyframes shaking {
  0% {
    @apply opacity-0 -left-5;
  }
  25% {
    @apply opacity-20 left-5;
  }
  50% {
    @apply opacity-40 -left-5;
  }
  75% {
    @apply opacity-60 left-5;
  }
  100% {
    @apply opacity-100 left-0;
  }
}
.shaking {
  animation-name: shaking;
  animation-duration: .6s;
  animation-timing-function: ease;
}